---
# This workflow integrates ShiftLeft NG SAST with GitHub
# Visit https://docs.shiftleft.io for help
name: Qwiet

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:


jobs:

  NextGen-Static-Analysis:
    runs-on: ubuntu-latest

    container:
      image: shiftleft/core:latest
      
    steps:
    - uses: actions/checkout@v3


    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.20'
        
    - name: Setup Environment
      run: |
        echo "GOPATH=$(go env GOPATH)" >> $GITHUB_ENV
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Build movie-microservice
      run: |
        cd src/movie-microservice
        go mod init movie-microservice
        go mod tidy        
        $ go get -u github.com/swaggo/swag/cmd/swag github.com/swaggo/gin-swagger github.com/swaggo/gin-swagger/swaggerFiles github.com/alecthomas/template github.com/gin-gonic/gin github.com/sirupsen/logrus gopkg.in/mgo.v2/bson github.com/natefinch/lumberjack
        go build ./...       

    - name: Build movie-microservice
      run: |
        cd src/user-microservice
        go mod init user-microservice
        go mod tidy
        swag init
        go build -v src/user-microservice
        cd ../..



    - name: Download ShiftLeft CLI
      run: |
        curl https://cdn.shiftleft.io/download/sl > ${GITHUB_WORKSPACE}/sl && chmod a+rx ${GITHUB_WORKSPACE}/sl

    - name: Extract branch name
      shell: bash
      run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      id: extract_branch

    - name: NextGen Static Analysis
      run: | 
        export SL_CPG_OPTS="-J-Xms2g -J-Xmx7g"
        export NODE_OPTIONS="--max_old_space_size=4096"
        echo $SL_CPG_OPTS
        ${GITHUB_WORKSPACE}/sl analyze --strict --wait --app go-microservices-demo --tag branch=${{ github.head_ref || steps.extract_branch.outputs.branch }} --go .
      env:
        NODE_OPTIONS: "--max_old_space_size=4096"
        SHIFTLEFT_ACCESS_TOKEN: ${{ secrets.SHIFTLEFT_ACCESS_TOKEN }}

  Build-Rules: 
    runs-on: ubuntu-latest
    needs: NextGen-Static-Analysis
    steps:
    - uses: actions/checkout@v3
    - name: Download ShiftLeft CLI
      run: |
        curl https://cdn.shiftleft.io/download/sl > ${GITHUB_WORKSPACE}/sl && chmod a+rx ${GITHUB_WORKSPACE}/sl
    - name: Validate Build Rules
      run: |
        ${GITHUB_WORKSPACE}/sl check-analysis --app shiftleft-kotlin-demo \
            --github-pr-number=${{github.event.number}} \
            --github-pr-user=${{ github.repository_owner }} \
            --github-pr-repo=${{ github.event.repository.name }} \
            --github-token=${{ secrets.GITHUB_TOKEN }}
      env:
        SHIFTLEFT_ACCESS_TOKEN: ${{ secrets.SHIFTLEFT_ACCESS_TOKEN }}   
